* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar.jsx */
.navbar {
  margin: 20px;
}

.navbar .nav-data {
  margin: 20px 0;
}

.nav-data nav .navlink {
  text-decoration: none;
  font-size: 20px;
  color: #a0a0a9;
  margin: 10px 0;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
}

.nav-data nav .navlink.active {
  color: #36a4ea;
  background-color: #d8e2e8;
  border-radius: 10px;
  font-weight: 500;
}

.nav-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-button {
  display: none;
  background: #36a4ea;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
