* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Css for App.jsx */

.main-container {
  height: 100vh;
  width: 100%;
  background-color: #e3e5e7;
  display: flex;
}

.navbar-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  height: 100vh;
  background-color: #ffffff;
  overflow-y: auto;
}

.routes-container {
  margin-left: 20%;
  width: 80%;
  padding: 10px;
  overflow-y: auto;
}

/* navbar.jsx */
.navbar {
  margin: 20px;
}

.navbar img {
  max-width: 100%;
  height: auto;
}

.navbar .nav-data {
  margin: 20px 0;
}

.nav-data nav .navlink {
  text-decoration: none;
  font-size: 20px;
  color: #a0a0a9;
  margin: 10px 0;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
}

.nav-data nav .navlink.active {
  color: #36a4ea;
  background-color: #d8e2e8;
  border-radius: 10px;
  font-weight: 500;
}

.nav-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 📱 Mobile screens: 320px – 480px */
@media (min-width: 320px) and (max-width: 480px) {
  .main-container {
    flex-direction: column;
  }

  .navbar-section {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  /* Make nav container flex row */
  .nav-data nav {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }

  /* Style each link */
  .nav-data nav .navlink {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #a0a0a9;
    padding: 10px 15px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
    margin: 0;
  }

  .routes-container {
    margin-left: 0;
    width: 100%;
  }
}

/* 📱 Tablet screens: 481px – 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .main-container {
    height: 100vh;
    width: 100%;
    background-color: #e3e5e7;
    display: flex;
  }

  .navbar-section {
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    height: 100vh;
    background-color: #ffffff;
    overflow-y: auto;
  }

  .routes-container {
    margin-left: 25%;
    width: 80%;
    padding: 10px;
    overflow-y: auto;
  }

  .navbar {
    margin: 20px;
  }

  .navbar .nav-data {
    margin: 20px 0;
  }

  .nav-data nav .navlink {
    text-decoration: none;
    font-size: 18px;
    color: #a0a0a9;
    margin: 10px 0;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
  }

  .nav-data nav .navlink.active {
    color: #36a4ea;
    background-color: #d8e2e8;
    border-radius: 10px;
    font-weight: 500;
  }

  .nav-details {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
