* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.description-card {
  height: 400px;
  width: 90%;
  margin: 3rem auto;
  display: flex;
  align-items: flex-start;
  /* align-items: center; */
  padding: 0 20px;
  gap: 3rem;
}

.description-card img {
  height: 400px;
  width: 30%;
}

.description-details {
  height: 200px;
  width: 80%;
}

.title-sec {
  display: flex;
  justify-content: space-between;
}

.title-sec h2 {
  font-size: 30px;
  color: rgb(26, 26, 26);
}

.description-details span {
  margin-top: 50px;
  color: grey;
}

.description-details p {
  color: gray;
  margin: 20px 0;
  font-weight: 300;
  word-spacing: 4px;
}

.description-details h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.availability {
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  font-size: 8px;
  font-weight: bold;
  color: white !important;
  cursor: default;
}

.available {
  background-color: #4caf50;
}

.unavailable {
  background-color: crimson;
}

/* purchase btns */

.purchase-btns {
  margin: 20px 0;
  position: relative;
  top: 10rem;
  left: 0;
  display: flex;
  gap: 30px;
}

.purchase-btns .cart,
.purchase-btns .buyNow {
  padding: 12px 30px;
  background-color: #2563eb;
  border: 1px solid #2563eb;
  color: white;
  border-radius: 10px;
}

/* Table */
/* book details */

.book-details {
  height: auto;
  width: 100%;
}
.book-details table {
  width: 80%;
  margin: 2rem auto;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
}

.book-details thead th {
  background: #2196f3;
  color: white;
  padding: 12px 22px;
  text-align: left;
  font-size: 16px;
}

.book-details tbody td {
  background: #f9f9f9;
  padding: 10px 22px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}

.book-details tbody td:first-child {
  font-weight: 600;
}
.book-details tbody tr:nth-child(even) td {
  background: #f1f7ff;
}

.book-details tbody tr:last-child td {
  border-bottom: none;
}
