* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  height: auto;
  width: 90%;
  margin: 2rem auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
}

.info-login {
  height: auto;
  width: 50%;
  padding: 2rem 3rem;
}

.login-headings {
  margin: 20px 0;
}

.login-headings h2 {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
}

.login-headings p {
  color: grey;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  padding-top: 5px;
}

.login-w-email {
  display: flex;
  flex-direction: column;
}

.login-methods {
  padding: 10px 0;
  display: flex;
  gap: 20px;
}

.login-methods button {
  padding: 10px 40px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  font-size: 14px;
  letter-spacing: 0.2px;
  cursor: pointer;
  transition: 0.4s ease;
  margin: auto;
}

.google-btn:hover {
  background: #ffffff;
  box-shadow: 2px 2px 10px #8caeff5e;
}

.login-w-email {
  margin: 10px 0;
}

.login-w-email span {
  display: flex;
  align-items: center;
  text-align: center;
  color: #666;
  margin: 20px 0;
  font-size: 15px;
}

.login-w-email span::before,
.login-w-email span::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.login-w-email span::before {
  margin-right: 10px;
}

.login-w-email span::after {
  margin-left: 10px;
}

/* right side */
.login-image {
  height: auto;
  width: 50%;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login-image-cont {
  height: 100%;
  width: 100%;
}

.login-image-cont img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.login-w-email input {
  height: 40px;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 10px;
  outline: 0;
  letter-spacing: 0.5px;
  display: flex;
}

.login-w-email .login-Btn {
  height: 40px;
  width: 90%;
  margin: 10px auto;
  border-radius: 20px;
  border: 1.5px solid blue;
  background-color: blue;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: 0.2s ease;
}

.login-Btn:hover {
  background-color: white;
  color: blue;
}

.login-w-email p {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 10px 20px;
}

/* Log-out */

.log-Out {
  margin: 20px;
  text-align: center;
  width: 50%;
  align-content: center;
}

.log-Out h3 {
  color: #405684;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 28px;
  margin: 20px 0;
}

.log-Out button {
  height: 40px;
  width: 70%;
  margin: 10px auto;
  border-radius: 20px;
  border: 1.5px solid blue;
  background-color: blue;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: 0.2s ease;
}

.log-Out button:hover {
  background-color: white;
  color: blue;
}
